@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Work+Sans:wght@100;300;700&display=swap');
.bg-image{
    background-image: url('../../../assets/others/banner.jpg');
    background-size: cover;
    
}

.text-style{
    text-shadow: rgb(0, 0, 0) 23.0533px -2.71px 17.4091px;
    font-family: 'Cinzel', serif;
    

}